* {
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
}

#score {
    position: fixed;
    top: 5px;
    left: 15px;
    font-size: 20px;
    font-family: Arial, serif;
}

#gameArea {
    position: fixed;
    top: 30px;
    left: 30px;
    border: darkblue 1px solid;
}

#blackSquare {
    position: absolute;
    background-color: green;
}

#boll {
    position: absolute;
    background-color: black;
}